/* base */
@import '../base/reset.css';
@import '../base/variables.css';
@import '../base/layout.css';

/* 3rd-party */

/* components */
@import '../components/buttom.css';
@import '../components/clock.css';
@import '../components/form.css';
@import '../components/mouse.css';
@import '../components/progress-bar.css';

/* CUSTOM STYLE BELOW THIS COMMENT, FOR THIS PAGE */
/* HERO: start */
.hero {
    padding-bottom: 30px;
}

.hero > .row-short {
    text-align: center;
}

.hero .logo {
    margin-bottom: 45px;
    height: 50px;
    width: 100%;
    object-fit: contain;
    object-position: center;
}

.hero .main-title {
    font-size: 44px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.hero .main-description {
    margin-bottom: 43px;
    font-size: 18px;
    color: grey;
}

.hero .clock {
    margin-bottom: 45px;
}
/* HERO: end */

/* MAIN CONTENT: start */
/* MAIN CONTENT: end */

/* FOOTER: start */
/* FOOTER: end */